<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form th:action="@{/post/edit}" method="post" th:object="${postVO}">
        <div><input type="hidden" th:field="*{id}" /></div>
        <div><input th:field="*{postTitle}" placeholder="제목" th:value="${postVO.postTitle}"/></div>
        <div><input th:field="*{postContent}" placeholder="내용" th:value="${postVO.postContent}"/></div>
        <div><input type="hidden" th:value="${memberId}" /></div>
        <button>수정완료</button>
    </form>
</body>
</html>