<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>글 목록</title>
    <style>
        th, td {
            border : 1px black solid;
        }
    </style>

</head>
<body>
    <button onclick="window.location.href='/post/write'">글 작성하기</button>
    <button onclick="window.location.href='/member/logout'">로그아웃</button>
    <button onclick="window.location.href='/member/withdraw'">회원탈퇴</button>
    <table>
        <tr>
            <th>제목</th>
            <th>내용</th>
        </tr>
        <th:block th:each="post : ${posts}">
            <tr th:object="${post}">
                <td>
                    <a th:href="@{/post/read(id=${post.id})}">
                        <span th:text="*{postTitle}"></span>
                    </a>
                </td>
                <td th:text="*{postContent}"></td>
            </tr>
        </th:block>
    </table>
</body>
</html>