<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>글 작성</title>
</head>
<body>
    <form th:action="@{/post/write}" method="post" th:object="${postVO}">
        <div><input th:field="*{postTitle}" placeholder="제목" /></div>
        <div><input th:field="*{postContent}" placeholder="내용" /></div>
        <div><input type="hidden" name="memberId" th:value="${memberId}" /></div>
        <button>작성 완료</button>
    </form>
</body>
</html>